---
title: Work
layout: default
---

<article class="page type-page status-publish hentry">
  <h2>A to Z projects</h2>
  <ul class="project-listing">
    {% for work in site.data.works %}
      {% if work.kind == 'atoz' %}
        {% include work-list-item.html %}
      {% endif %}
    {% endfor %}
  </ul>
  <h2>Maintenance projects</h2>
  <ul class="project-listing">
    {% for work in site.data.works %}
      {% if work.kind == 'maintenance' %}
        {% include work-list-item.html %}
      {% endif %}
    {% endfor %}
  </ul>
  <h2>Side projects</h2>
  <ul class="project-listing">
    {% for work in site.data.works %}
      {% if work.kind == 'side' %}
        {% include work-list-item.html %}
      {% endif %}
    {% endfor %}
  </ul>
</article>

<div class="work-modal visible" id="work-modal-sample">
  <p>Hover over a project to see description.</p>
</div>

{% for work in site.data.works %}
  <div class="work-modal" id="work-modal-m-{{ forloop.index }}">
    <p>{{ work.desc }}</p>
  </div>
{% endfor %}

