<header
  id="masthead"
  class="site-head site-header"
data-background="{{ site.baseurl }}/img/{% if page.is_post %}{{ page.img }}{% else %}bg{% endif %}">

    <nav id="site-navigation" class="main-navigation">
        <div>
            <span class="menu-toggle">
              <a class="" href="#">
                <span class="">Menu</span>
              </a>
            </span>
            <div class="menu-my-menu-container">
              <ul id="menu-my-menu" class="menu nav-menu">
                {% for item in site.menu %}
                  <li class="menu-item">
                    <a href="{{ site.baseurl }}{{ item.link }}">{{ item.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
        </div>
    </nav>

    {% if page.is_post %}
      <div class="post-page-creds">
        <a href="{{ site.baseurl }}/" class="blog-name">Web Dev & Stuff</a><br>
        <p class="blog-desc">by @AntonK52</p>
      </div>
      <div class="vertical-row">
        <div class="vertical">
          <div class="site-head-content inner">
            <h1 class="post-title">{{ page.title }}</h1>
            <h2 class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</h2>
          </div>
        </div>
      </div>
    {% else %}
      <div class="vertical-row">
        <div class="vertical">
          <div class="site-head-content inner">
            <h1 class="blog-title"><a class="blog-logo" href='{{ site.baseurl }}/' rel='home'>Web Dev and Stuff</a></h1>
            <h2 class="blog-description">by <a target="_blank" href="https://twitter.com/antonk52">@antonk52</a></h2>
          </div>
        </div>
      </div>
    {% endif %}

</header>

