/* fonts */

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(./fonts/noto-serif.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(./fonts/noto-serif-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(./fonts/noto-serif-italic.ttf) format('truetype');
}

/* antonk52 newer styles */

@font-face {
  font-family: 'ak-icons';
  src: url('./fonts/custom-icons.eot');
  src: url('./fonts/custom-icons.eot#iefix') format('embedded-opentype'), url('./fonts/custom-icons.woff') format('woff'), url('./fonts/custom-icons.ttf') format('truetype'), url('./fonts/custom-icons.svg#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal
}

.ak-icon {
  font-family: "ak-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.ak-twitter:before {
  content: '\f099'
}

.ak-github-circled:before {
  content: '\f09b'
}

.ak-mail-alt:before {
  content: '\f0e0'
}

.ak-youtube-play:before {
  content: '\f16a'
}

.ak-skype:before {
  content: '\f17e'
}

.ak-paper-plane-empty:before {
  content: '\f1d9'
}


/* contact page icons */

.contact-method .ak-icon {
  font-size: 3em
}

footer.site-footer .ak-twitter {
  font-size: 1em
}


/*----------HEADER----------*/

.site-head {
  min-height: 250px
}

.blog-title a:hover,
.social-icons a:hover {
  color: #c8ced0
}

.blog-description>a,
.blog-description>a:hover,
.blog-description>a:visited,
.blog-description>a:active,
#tw-link {
  color: #fff !important;
  text-decoration: none
}

.site-header:before {
  content: "";
  display: block
}

.custom-post-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
}

body.home .site-head:after {
  z-index: 0
}

.site-head:after {
  content: '';
  display: block;
  height: 20%;
  width: 100%;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,.6) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0,0,0,.6)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.6) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0,0,0,.6) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0,0,0,.6) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#808080', GradientType=0 );
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none
}

.post-meta,
.post-meta a {
  color: #bbb;
  font-weight: 500;
  font-size: .8em;
}

article .post-meta {
  width: 100%;
}

article.post:last-of-type {
  border-bottom: 0;
}
article.post:last-of-type:after {
  display: none;
}

.post-page-creds {
  display: none;
}

.post-page-creds>a,
.post-page-creds>a:hover,
.post-page-creds>a:visited,
.post-page-creds>a:active {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width:900px) {
  .post-page-creds {
    left: 10px;
    top: 5px;
    width: auto;
  }
}

.post-page-creds>.blog-name {
  font-weight: bold;
  letter-spacing: -1px;
}

.post-page-creds>.blog-desc,
.post-page-creds>.post-edit-link>a {
  font-weight: 300;
  margin-top: 0;
  font-size: .8em;
  line-height: 1.2em;
}


/*---------BLOG POST---------*/

.post-content img {
  padding: 1em 0;
}

.post-footer h4 {
  padding-top: 1em;
}


/*----------FOOTER----------*/

.site-footer {
  background: #50585d;
  color: #fff;
}

.site-footer>ul.f-soc {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: -30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.site-footer>ul.f-soc>li {
  display: inline-block;
  height: 4.5em;
  width: 4.5em;
  // line-height: 4.5em;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.site-footer>ul.f-soc>li:last-child {
  margin-right: 0;
}

.site-footer>ul.f-soc>li a {
  display: block;
  padding: 10px;
}

.site-footer a.twitter-link path {
  transition: fill .3s;
}

.site-footer a.twitter-link:hover path {
  fill: #4099FF;
}

.site-footer>ul.f-soc>li>a,
.site-footer>ul.f-soc>li>a:hover,
.site-footer>ul.f-soc>li>a:visited,
.site-footer>ul.f-soc>li>a:active {
  color: #50585d;
  text-decoration: none;
}


/*----------WIDGETS----------*/

.widget-area aside {
  height: auto;
  min-height: 150px;
}

.widget-area {
  padding-bottom: 0;
  color: #50585d;
}


/*----------POST NAV----------*/

.older-posts {
  left: 0;
  right: auto;
}

.newer-posts {
  right: 0;
  left: auto;
}


/*------------MENU------------*/

.main-navigation .menu-toggle a {
  color: #eee;
  background-color: rgba(0, 0, 0, .5);
  padding: 10px;
  height: 28px;
}

.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #eee;
  position: relative;
  transform-origin: center center;
  transition: all .3s ease-in-out;
  will-change: transform;
}

@media screen and (max-width:900px) {
  nav .menu-toggle {
    background: 0;
  }
}

.menu-toggle span {
  top: 13px;
}

.menu-toggle span:before {
  transform: rotate(0) translateY(-10px);
}

.menu-toggle span:after {
  transform: rotate(0) translateY(8px);
}

.main-navigation.toggled .menu-toggle span {
  background: transparent;
}

.main-navigation.toggled .menu-toggle span:before {
  transform: rotate(45deg) translateY(1px);
}

.main-navigation.toggled .menu-toggle span:after {
  transform: rotate(-45deg) translateY(-2px);
}

nav.main-navigation {
  position: absolute;
  z-index: 10;
  top: 0
}

@media screen and (max-width:900px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
    opacity: 1;
    transform: translateY(0)
  }
  .main-navigation ul {
    font-size: 1.4rem;
    float: left;
    margin: 0;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    opacity: 0;
    transform: translateY(-100%);
    transition: all .3s ease-out;
    will-change: transform;
  }
  .main-navigation li {
    float: left;
    width: inherit;
    margin: 0 auto;
    border-bottom: 1px solid #444
  }
  nav .menu-toggle {
    top: 10px;
    right: 10px;
    position: absolute
  }
}

.project-listing {
  list-style: none;
  margin: 0 0 30px 20px;
  padding: 0
}

main {
  position: relative
}

.work-modal {
  opacity: 0;
  width: 80%;
  max-width: 700px;
  transform: translateX(50%);
  position: absolute;
  top: 20px;
  right: 10%;
  transition: all ease-in-out .4s;
  will-change: opacity;
}

@media(min-width:600px) {
  .work-modal {
    width: 35%;
    transform: translateX(20%);
  }
}

@media(min-width:900px) {
  .work-modal {
    width: 25%;
    transform: translateX(-30%);
  }
}

@media(min-width:1600px) {
  .work-modal {
    width: 20%;
    transform: translateX(-55%);
  }
}

.work-modal.visible {
  opacity: 1;
}

.contact-method-listing {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-method {
  text-align: center;
}

